{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block titulo %}Administracion Periodo Pao{% endblock %}

{% block body %} 
<p> Administracion de los periodos asociados a una determinada pao en un periodo seleccionado </p>
{% endblock %}
