{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#asignar').button();
          $('#agregarRoles').button();
          $('#eliminarRoles').button();
          $('#editarRoles').button();
          $('#asignar').click(function() {
              document.location.href='{{ path('MinSalSidPlaAdminBundle_asignarOpcRoles') }}'
          });
      });
    </script>
   <form>
        <table align="center">
            <tr><td align="center">
                    <h1>Mantenimiento de Roles del Sistema</h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" value="Asignar/Desasignar Opciones" id="asignar" ></input>                    
                </td>
            </tr>
            <tr>
                <td align="center">
                <br></br>                
                {% include 'MinSalSidPlaAdminBundle:Roles:showAllRoles.html.twig'%}
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" value="Agregar" id="agregarRoles" />
                    <input type="button" value="Editar" id="editarRoles" />
                    <input type="button" value="Eliminar" id="eliminarRoles"/>
                </td>
            </tr>
        </table>        
    </form>
    <br></br>
    <br></br>
    
{% endblock %}




