{# Muestra todos los roles #}

{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){

        var myGrid = $('#theGrid');        
        myGrid.jqGrid({          
          datatype:'clientSide',
          altRows:true,
          colNames:['Nombre', 'Descripcion'],
          colModel:[
            { name:'nombre', index: 'nombre', width:150,editable:true,editoptions:{size:15}  },
            { name:'funciones', index: 'funciones',width:300,editable:true,editoptions:{size:70}  } ],            
          rowNum:10,
          rowList:[10,20,30],
          multiselect: true,
          pager: jQuery('#pager'),
          viewrecords: true,          
            caption: 'Roles del sistema',
            height: "100%",
            editurl: 'manttRolEdicion'
        });
        myGrid.jqGrid('navGrid','#pager',
        {edit:true,add:true,del:true},
        {},
        {},
        {},
        {multipleSearch:true, multipleGroup:true}
        );
            
        

        {% for rol in roles %}            
            myGrid.addRowData("{{ rol.idRol  }}", {nombre:"{{ rol.nombreRol  }}", funciones:"{{  rol.funcionesRol }}"});     
        {% endfor %}        

       
      });
    </script>
        
        <table id="theGrid" class="scroll"></table> 
        <div id="pager" class="scroll" style="text-align:center;"></div> 
        

{% endblock %}