{# Muestra todos las opciones #}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){

        var myGrid = $('#theGrid');        
        myGrid.jqGrid({    
          url: 'consultarOpc',
          datatype:'json',
          altRows:true,          
          colNames:['Id','Nombre', 'Descripcion', 'Enlace', 'Padre'],
          colModel:[            
            { name:'id', index: 'id', width:15,editable:false,editoptions:{size:10},sorttype:'int',searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}   },
            { name:'nombre', index: 'nombre', width:150,editable:true,editoptions:{size:40},formoptions:{ rowpos:1, label: "Nombre", elmprefix:"(*)"},editrules:{required:true}  },
            { name:'descripcion', index: 'descripcion', width:300,editable:true,editoptions:{size:70},formoptions:{ rowpos:2, label: "Descripcion",elmprefix:"   "},editrules:{required:false}  },
            { name:'enlace', index: 'enlace', width:300,editable:true,editoptions:{size:70},formoptions:{ rowpos:3, label: "Enlace", elmprefix:"(*)"},editrules:{required:true}  } ,
            { name:'opcpadre', index: 'opcpadre', width:50,editable:true,editoptions:{size:40} ,formoptions:{ rowpos:4, label: "Padre"} } ],
          rowNum:10,
          //rowList:[10,20,30],
          multiselect: false,
          sortname: 'id',
          sortorder: "asc",
          pager: jQuery('#pager'),
          viewrecords: true,          
          caption: 'Opciones del sistema',
          height: "100%",
          editCaption: "Editar Registro",
          addCaption: "Nuevo Registro",
          editurl:'manttOpcEdicion'         
            
        });
        myGrid.jqGrid('navGrid','#pager',
        {edit:true,add:true,del:true},
        {width:650,height:200, afterSubmit: fn_editSubmit, closeOnEscape: true,bottominfo:"Campos marcados con (*) son obligatorios", onclickSubmit: function(rp_ge, postdata) {
        alert("datos editados con exito!");},closeAfterEdit:true },//edit
        {width:650,height:200,bottominfo:"Campos marcados con (*) son obligatorios", onclickSubmit: function(rp_ge, postdata) {
        alert("datos guardados con exito!");},closeAfterAdd:true },//add
        {width:550,height:160,onclickSubmit: function(rp_ge, postdata) {
        alert("Mensaje eliminado con exito!");
          } },//del
        {},//search
        {} //view
        );
       
      });
      
       //define handler for 'editSubmit' event
    var fn_editSubmit=function(response,postdata){
     var json=response.responseText; //in my case response text form server is "{sc:true,msg:''}"
     var result=eval("("+json+")"); //create js object from server reponse
     return [result.sc,result.msg,null]; 
    }  

    
   
    
    </script>
      <div id="grid_wrapper" class="ui-corner-all floatLeft">
        <table id="theGrid" class="scroll" ></table> 
        <div id="pager"  class="scroll" style="text-align:center;"></div> 
      </div>
    
      <!--<div id="info_wrapper">
        <div class="ui-widget">
          <div class="ui-state-highlight ui-corner-all" style="padding: 0 0.7em; margin: 20px 0 0 20px;">
            <p>
              <span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
              <strong>resize</strong> your browser window &amp; the grid will resize accordingly.
            </p>
          </div>
        </div>
      </div>-->
    
{% endblock %}
