<!DOCTYPE html>
<HTML>
    <head>
        <title>{% block titulo %}Sistema para la Planificaci&oacute;n Anual Operativa{% endblock %}</title>        
    </head>
    <body>    
    <div id="contenedor"  >    
      <div id="cabecera">
            Cabecera
      </div>     
      <div id="menu">
            {% block menu %}
            <ul>
                <li><a href="{{ path('MinSalSidPlaBundle_homepage') }}">Inicio</a></li>
                <li><a href="{{ path('MinSalSidPlaAdminBundle_homepage') }}">Administraci&oacute;n</a></li>
            </ul>
            {% endblock %}
      </div>     
      <div id="contenido" >        
            {% block body %}{% endblock %}            
      </div> 
    </div>   
    </body>
</HTML>
