<!DOCTYPE html>
<HTML>
    <head>
        <title>{% block titulo %}Sistema para la Planificaci&oacute;n Anual Operativa{% endblock %}</title>        
    </head>
    <body>   
    {% block javascripts %}
            <script src="{{ asset('/js/jquery-1.6.2.js') }}" type="text/javascript"></script>
    {% endblock %} 
    
    <div id="contenedor"  >    
      <div id="cabecera">
            Cabecera
      </div>       
      <div id="menu">
            {% block menu %}
                {% for opc in opciones %}
                    <ul>
                        <li><a href="{{ path(opc.enlace) }}">{{ opc.nombreOpcion }}</a></li>                    
                    </ul>                         
                {% endfor %}  
            {% endblock %}
      </div>     
      <div id="contenido" >        
            {% block body %}{% endblock %}            
      </div> 
    </div>          
    </body>
</HTML>
