{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block titulo %}Periodo Pao {% endblock %}

{% block body %}

    <h1 style='text-align: center;'>Periodo Pao Oficial</h1>
    
{% endblock %}