{% block body %}
<table align="center">
    <tr>
        <td align="center"><strong>Seleccione el Año a Gestionar </strong>
            <select id='selanio'>
                <option value='{{ "now" | date("Y") }}'>{{ "now" | date("Y") }}</option>
                <option value='{{ "now" | date("Y")+1 }}'>{{ "now" | date("Y")+1 }}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <br></br>  
                {% include 'MinSalSidPlaPaoBundle:PeriodoPaoOficial:showPeriodoOficial.html.twig'%}
        </td>
    </tr>        
</table>    
{% endblock %}