{% block body %}
<script type="text/javascript">
  $(document).ready(function(){
      
        $('#agregarPerOfiButton').button();
        $('#editarPerOfiButton').button();
        $('#eliminarPerOfiButton').button();
        $('#crearPao').button();
        $('#selanio').change(cargarAnio);
        $('#crearPao').hide();

        function cargarAnio(){
           $('#crearPao').hide();
           $('#tabperiodooficial').setGridParam({
               url:'consultarPeriodoOficialJSON?anio='+$('#selanio').val(),
               editurl:'manttPeriodoOficial?anio='+$('#selanio').val(),
               datatype:'json'
           }).trigger("reloadGrid");
       
        }
        
       $("#crearPao").click(function(){
              $('#tabperiodooficial').setGridParam({
               url:'crearPao?anio='+$('#selanio').val(),
               editurl:'manttPeriodoOficial?anio='+$('#selanio').val(),
               datatype:'json'
           }).trigger("reloadGrid");
       
        });
        
        function validaTipoPeriodo(value, colname) {
        if (value == 0 ) 
            return [false,"Seleccione un Tipo Periodo"];
        else 
            return [true,""];
       }
    
    var myGrid = $('#tabperiodooficial');        
    myGrid.jqGrid({ 
      url: 'consultarPeriodoOficialJSON?anio='+$('#selanio').val(),
      datatype:'json',
      altRows:true,
      colNames:['Codigo','Nombre','Fecha Inicio','Fecha Fin','Activo','Verifica'],
      colModel:[
        { name:'codigo', index: 'codigo', width:40,editable:false,editoptions:{size:15}},
        { name:'nombre', index: 'nombre', width:150,editable:true,editoptions:{size:30},edittype:"select",
                        editoptions: {value:"0:Seleccione un Tipo de Periodo;{{ combotipoperiodos }}"},editrules:{custom:true, custom_func:validaTipoPeriodo}
        },//Fin del nombre
        { name:'fechini', index: 'fechini', width:150,editable:true,align:'center',
                formoptions:{label: "Fecha de Inicio",elmprefix:"(*)"},editrules:{required:true},
                editoptions: {size: 10, maxlengh: 10,
                            dataInit: function(element) {
                                $(element).datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio', 'Julio', 'Agosto', 'Septiembre','Octubre', 'Noviembre', 'Diciembre'],
                                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov', 'Dic']  
                                })
                            }
                          }
        },//Fin del fechini
        { name:'fechfin', index: 'fechfin', width:150,editable:true,align:'center',
                formoptions:{label: "Fecha de Finalizacion",elmprefix:"(*)"},editrules:{required:true},
                editoptions: {size: 10, maxlengh: 10,
                            dataInit: function(element) {
                                $(element).datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio', 'Julio', 'Agosto', 'Septiembre','Octubre', 'Noviembre', 'Diciembre'],
                                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov', 'Dic']  
                                 })
                            }
                }
        },//Fin del fechfin
        { name:'activo', index: 'activo',width:40,editable:true,edittype:"checkbox",editoptions: {value:"SI:NO"},align:'center'},
        { name:'verifica', index: 'verifica',width:40,editable:false}
      ],//Fin del colModel
      rowNum:10,
      rowList:[10,20,30],
      multiselect: false,
      loadonce:true,
      pager: jQuery('#pagerPer'),
      viewrecords: true,          
      caption: 'Periodo Oficial',
      height: "100%",
      editurl:'manttPeriodoOficial',
      gridComplete: 
      function(){ 
          var ids = myGrid.jqGrid('getDataIDs');
          j=0;
          for(var i=0;i < ids.length;i++){
             var cl = ids[i]; 
                if(myGrid.getCell(cl, 'verifica')==1)
                    j++;
         }
         if(j==0 && $('#selanio').val()=={{ "now" | date("Y")+1 }})
             $('#crearPao').show();
       }
                     
    });
    myGrid.jqGrid('navGrid','#pagerPer',{edit:false,add:false,del:false,
             beforeRefresh: function() {myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');}}
    ).hideCol('codigo').hideCol('verifica');
    
    /* Funcion para regargar los JQGRID luego de agregar y editar*/
    function despuesAgregarEditar() {
        myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');
        return[true,'']; //no error
    } 
    
     //agregar
  $("#agregarPerOfiButton").click(function(){
   jQuery('#tabperiodooficial').jqGrid('editGridRow',"new",
    {closeAfterAdd:true,addCaption: "Agregar Periodo Oficial",height:200,align:'center',reloadAfterSubmit:true,
     width: 600,processData: "Cargando...",bottominfo:"Campos marcados con (*) son obligatorios",afterSubmit:despuesAgregarEditar, 
     onclickSubmit: function(rp_ge, postdata) {
          alert("datos guardados con exito!");
     }});
  });
      
  //editar
  $("#editarPerOfiButton").click(function(){
    var gr = jQuery('#tabperiodooficial').jqGrid('getGridParam','selrow');
    if( gr != null )
      jQuery("#tabperiodooficial").jqGrid('editGridRow',gr,
       {closeAfterEdit:true,editCaption: "Editando Periodo Oficial",height:200,align:'center',reloadAfterSubmit:true,
        width: 600,processData: "Cargando...",afterSubmit:despuesAgregarEditar, 
        onclickSubmit: function(rp_ge, postdata) {
            alert("Periodo Oficial editado con exito!");
        },bottominfo:"Campos marcados con (*) son obligatorios"});
        else 
            alert("Por favor seleccione una fila para editar!"); 
  });
 
 //eliminar
 $("#eliminarPerOfiButton").click(function(){
    var grs = jQuery('#tabperiodooficial').jqGrid('getGridParam','selrow');
     if( grs != null ) jQuery('#tabperiodooficial').jqGrid('delGridRow',grs,
          {msg: "Desea Eliminar este Periodo Oficial?",caption:"Eliminando Periodo Oficial",height:100,align:'center',reloadAfterSubmit:true,
           width: 300,processData: "Cargando...",
           onclickSubmit: function(rp_ge, postdata) {
                alert("Periodo Oficial eliminado con exito!");
          }}); 
         else 
             alert("Por favor seleccione una fila para borrar!"); 
  }); 
 
  //fin     
  
  });
    </script>
    <table id="tabperiodooficial" class="scroll" align="center"></table>
    <div id="pagerPer" class="scroll" style="text-align:center;"></div>
    <br></br>
       <input type="button" id="agregarPerOfiButton" value="  Agregar  " />
       <input type="button" id="editarPerOfiButton" value="   Editar   " />
       <input type="button" id="eliminarPerOfiButton" value="  Eliminar  " />
       <input type="button" id="crearPao" name="crearPao" value="  Crear PAO   "/>
{% endblock %}