{% block body %}
<script type="text/javascript">
  $(document).ready(function(){
      
        $('#agregarPerOfiButton').button();
        $('#editarPerOfiButton').button();
        $('#eliminarPerOfiButton').button();
        $('#selanio').change(cargarAnio);
        
        function cargarAnio(){
            $('#tabperiodooficial').setGridParam({url:'consultarPeriodoOficialJSON?anio='+$('#selanio').val(),editurl:'manttPeriodoOficial?anio='+$('#selanio').val()}); 
            $('#tabperiodooficial').trigger("reloadGrid"); 
        }
        
        function validaTipoPeriodo(value, colname) {
        if (value == 0 ) 
            return [false,"Seleccione un Tipo Periodo"];
        else 
            return [true,""];
       }
    
    var myGrid = $('#tabperiodooficial');        
    myGrid.jqGrid({ 
      url: 'consultarPeriodoOficialJSON',
      datatype:'json',
      altRows:true,
      colNames:['Codigo','Nombre','Fecha Inicio','Fecha Fin','Activo'],
      colModel:[
        { name:'codigo', index: 'codigo', width:40,editable:false,editoptions:{size:15}},
        { name:'nombre', index: 'nombre', width:150,editable:true,editoptions:{size:30},edittype:"select",
                        editoptions: {value:"0:Seleccione un Tipo de Periodo;{{ combotipoperiodos }}"},editrules:{custom:true, custom_func:validaTipoPeriodo}
        },//Fin del nombre
        { name:'fechini', index: 'fechini', width:150,editable:true,
                formoptions:{label: "Fecha de Inicio",elmprefix:"(*)"},editrules:{required:true},
                editoptions: {size: 10, maxlengh: 10,
                            dataInit: function(element) {
                                $(element).datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio', 'Julio', 'Agosto', 'Septiembre','Octubre', 'Noviembre', 'Diciembre'],
                                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov', 'Dic']  
                                })
                            }
                          }
        },//Fin del fechini
        { name:'fechfin', index: 'fechfin', width:150,editable:true,
                formoptions:{label: "Fecha de Finalizacion",elmprefix:"(*)"},editrules:{required:true},
                editoptions: {size: 10, maxlengh: 10,
                            dataInit: function(element) {
                                $(element).datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio', 'Julio', 'Agosto', 'Septiembre','Octubre', 'Noviembre', 'Diciembre'],
                                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov', 'Dic']  
                                 })
                            }
                }
        },//Fin del fechfin
        { name:'activo', index: 'activo',width:40,editable:true,edittype:"checkbox",editoptions: {value:"SI:NO"}}
      ],//Fin del colModel
      rowNum:10,
      rowList:[10,20,30],
      multiselect: false,
      pager: jQuery('#pager'),
      viewrecords: true,          
      caption: 'Periodo Oficial',
      height: "100%",
      editurl:'manttPeriodoOficial'
                     
    });
    myGrid.jqGrid('navGrid','#pager',
        {edit:false,add:false,del:false}
    );    
    
 
    
     //agregar
  $("#agregarPerOfiButton").click(function(){
        jQuery('#tabperiodooficial').jqGrid('editGridRow',"new",{closeAfterAdd:true,addCaption: "Agregar Periodo Oficial",height:200,align:'center',reloadAfterSubmit:true,
        top : 250 ,left: 250,width: 600,processData: "Cargando...",
        bottominfo:"Campos marcados con (*) son obligatorios", onclickSubmit: function(rp_ge, postdata) {
        alert("datos guardados con exito!");
          }});
        });
      
      
         //editar
    $("#editarPerOfiButton").click(function(){
          var gr = jQuery('#tabperiodooficial').jqGrid('getGridParam','selrow');
          if( gr != null )
             jQuery("#tabperiodooficial").jqGrid('editGridRow',gr,{closeAfterEdit:true,editCaption: "Editando Periodo Oficial",height:200,align:'center',reloadAfterSubmit:true,
                 top : 250 ,left: 250,width: 600,processData: "Cargando...", onclickSubmit: function(rp_ge, postdata) {
        alert("Periodo Oficial editado con exito!");
          }, bottominfo:"Campos marcados con (*) son obligatorios"});
             else alert("Por favor seleccione una fila para editar!"); 
          });
    
        //eliminar
    $("#eliminarPerOfiButton").click(function(){
         var grs = jQuery('#tabperiodooficial').jqGrid('getGridParam','selrow');
         if( grs != null ) jQuery('#tabperiodooficial').jqGrid('delGridRow',grs,{msg: "Desea Eliminar este Periodo Oficial?",caption:"Eliminando Periodo Oficial",height:100,align:'center',reloadAfterSubmit:true,
             top : 300 ,left: 600,width: 300,processData: "Cargando...",onclickSubmit: function(rp_ge, postdata) {
        alert("Periodo Oficial eliminado con exito!");
          }}); 
         else alert("Por favor seleccione una fila para borrar!"); }); 
 
  //fin     
    
    
  });
    </script>
    <table id="tabperiodooficial" class="scroll" align="center"></table> 
    <br></br>
       <input type="button" id="agregarPerOfiButton" value="  Agregar  " />
       <input type="button" id="editarPerOfiButton" value="   Editar   " />
       <input type="button" id="eliminarPerOfiButton" value="  Eliminar  " />
    <div id="pager" class="scroll" style="text-align:center;"></div>

{% endblock %}