{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block titulo %}Administraci&oacute;n{% endblock %}

{% block body %}    
    Platilla de Administraci&oacute;n
    <br>
    <ul>
        <li><a href="{{ path('MinSalSidPlaAdminBundle_homepage') }}">Inicio</a></li>
        <li><a href="{{ path('MinSalSidPlaAdminBundle_nuevaOpc') }}">Agregar Opc</a></li>
        <li><a href="{{ path('MinSalSidPlaAdminBundle_nuevoRol') }}">Agregar Rol</a></li>        
        <li><a href="{{ path('MinSalSidPlaAdminBundle_consultarRoles') }}">Consultar Roles</a></li>        
    </ul>    
{% endblock %}
