{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block titulo %} Evaluacion de Elementos de la infraestructura {% endblock %}

{% block body %}

<script type="text/javascript">  
$(document).ready(function(){
   $('#btnagregar').button();
   $("#btnagregar").click(function(){
       document.location.href='seleccionaElementos?idInfra={{ idInfra }}';
   });
  
 });          
</script>
<h1 style='text-align: center;'>Evaluacion Infraestructura</h1>
<table align="center">
   <tr>
      <td>
         <p style=' font-size: 12px'>Para editar las cantidades de clic sobre el elemento, realice el cambio y presione en guardar justo al lado del elementos que esta evaluando.</p>
         <p style=' font-size: 12px'><strong>NOTA:</strong></p>
         <p style=' font-size: 12px'>Doy fe que toda la información proporcionada en esta pagina es real y puede ser utilizada segun sea conveniente</p>
      </td>
   </tr>
   <tr align="right">
      <td>
          <input type="button" id="btnagregar" value="Gestionar Elementos" />
      </td>
   </tr>
   <tr>
     <td align="center">
       {%include 'MinSalSidPlaEstInfraBundle:EvaluacionElementoInfraestructura:showEvaluacionElementoInfraestructura.html.twig' %}
     </td>
   </tr>
</table>   

{% endblock %}