{% block body %}
<script type="text/javascript">
    $(document).ready(function(){
        var seleccionado       
        var myGrid = $('#tabEvaInfra');        
        myGrid.jqGrid({ 
          url: 'consultarEvaluacionElementoJSON',
          datatype:'json',
          altRows:true,
          colNames:['Codigo','Elemento', 'Estado', 'Cantidad','Unidad','Accion'], 
          colModel:[ 
                  {name:'codigo',index:'codigo', width:50, editable: false,align:'center'},
                  {name:'elemento',index:'elemento', width:200,editable: false,edittype:"select",editoptions: {value:"{{ elementoInfra }}" }},
                  {name:'estado',index:'estado', width:60, editable: true,edittype:"select",editoptions: {value:"{{ estadosInfra }}" },align:'center'},
                  {name:'cantidad',index:'cantidad', width:90, editable: true,align:'center'},
                  {name:'unidad',index:'unidad', width:50, editable: false,edittype:"select",editoptions:{value:"{{ unidadMedida }}" },align:'center'},
                  {name:'act',index:'act', width:100,sortable:false,align:'center'}           
          ],
          scroll:true,
          rowNum:10,
          rowList:[10,20,30],
          multiselect: false,
          pager: jQuery('#pager1'),
          viewrecords: true,          
          caption: 'Evaluacion Elementos de Infraestructura',
          height: "100%",
          onSelectRow: function(id){
                if(id && id!==seleccionado){
                jQuery('#tabEvaInfra').restoreRow(seleccionado);
                jQuery('#tabEvaInfra').editRow(id,true);
                seleccionado=id;}
          },
        gridComplete: 
            function(){ 
                var ids = jQuery("#tabEvaInfra").jqGrid('getDataIDs');
                for(var i=0;i < ids.length;i++){
                    var cl = ids[i]; 
                    guardar = "<input style='height:18px;width:50px;' type='button' value='Guardar' onclick=\"jQuery('#tabEvaInfra').saveRow('"+cl+"');\" />";
                    jQuery("#tabEvaInfra").jqGrid('setRowData',ids[i],{act:guardar}); } },
        editurl:'manttEvaluacionElemento'
                     
        });
        myGrid.jqGrid('navGrid','#pager1',
            {edit:false,add:false,del:false,view:true}
            
        );    
 
   });
 
    </script>
   <table id="tabEvaInfra" class="scroll" alignalign="center">
   </table> 
   <div id="pager1" class="scroll" style="text-align:center;"></div>  
{% endblock %}