{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block titulo %}Administración de los Consolidados{% endblock %}

{% block body %} 
<p> Administración de los Consolidados de las Unidades de Salud para SIBASI y Regiones de Salud del Ministerio de Salud </p>
{% endblock %}

