{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block titulo %}Administraci贸n de los Consolidados{% endblock %}

{% block body %} 
<p style=" font-family: Verdana, Geneva, sans-serif; font-size: 11px;" > Administraci贸n de los Consolidados de las Unidades de Salud para SIBASI y Regiones de Salud del Ministerio de Salud </p>
<p style=" font-family: Verdana, Geneva, sans-serif; font-size: 11px;"> Esta secci贸n incluye:</p>
<ul>
    <li  style=" font-family: Verdana, Geneva, sans-serif; font-size: 11px;"  >Reportes de Unidades de Salud, SIBASI y Regiones de Salud</li>
    <li  style=" font-family: Verdana, Geneva, sans-serif; font-size: 11px;" >Supervisi贸n de SIBASI y Regiones de Salud</li>
    <li  style=" font-family: Verdana, Geneva, sans-serif; font-size: 11px;" >Consolidados de PAO de Nivel Central</li>
    <li  style=" font-family: Verdana, Geneva, sans-serif; font-size: 11px;" >Reportes de PAO del Nivel Central de las Unidades de Salud</li>
</ul>
{% endblock %}

