{# ingresar nueva  #}
{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
    
  $(document).ready(function(){
      $("#guardar").button(); 
      $("#cancelar").button(); 
  });
    </script>

<br></br>
<br></br>

<form action="{{ path('MinSalSidPlaPaoBundle_addTipoPeriodo')}}" method="post" >
    <table align="center">
        <tr>
            <td colspan="2" style="text-align: center"><h1>Agregar Tipo de Periodo</h1></td>
        </tr>
       <tr>
            <td>Nombre del Periodo:</td>
            <td><input size="35" name="nombreTipoPeriodo" id="nombreTipoPeriodo" maxlegth="30"  ></input></td>
        </tr>
        <tr>
            <td>Descripcion del Periodo:</td>
            <td><textarea cols=40 rows=3 maxlegth="200" name="descTipoPeriodo" id="descTipoPeriodo" ></textarea></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center"> <button type="submit" id="guardar" >Guardar</button> <button type="button" id="cancelar">Cancelar</button></td>
        </tr>
    </table>
</form>            



{% endblock %}