{# ingresar nueva  #}
{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<br></br>
<br></br>
<br></br>

<form action="{{ path('MinSalSidPlaPaoBundle_addTipoPeriodo')}}" method="post" >
   
</form>            



{% endblock %}