{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block titulo %}Tipo Periodo Pao {% endblock %}

{% block body %}
<script type="text/javascript">
    
  $(document).ready(function(){
      $("#ingresar").button(); 
      $('#ingresar').click(function() {
          document.location.href='{{ path('MinSalSidPlaPaoBundle_ingresarTipoPeriodo') }}'
      });
  });
    </script>
    <h1 style='text-align: center;'>Tipo Periodo Pao</h1>
    <form>
        <table align="center">
            <tr>
                <td align="center">
                    <input type="button" value="Nuevo Tipo de Periodo" id="ingresar" ></input>   
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br></br>  
               {% include 'MinSalSidPlaPaoBundle:TipoPeriodoPao:showTipoPeriodo.html.twig'%}
                </td>
            </tr>        
        </table>    
    </form>
{% endblock %}