{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block titulo %}Periodos de la PAO {% endblock %}

{% block body %}
    <h1 style='text-align: center;'>Cronograma para la PAO</h1>
    <form>
        <table align="center">
            <tr>
                <td>
                    <h5 style='font-size: 12px; font-weight: normal'>Debe de tomar en cuenta los siguientes periodos para la elaboracion de la PAO</h5>
                    <h5 style='font-size: 12px; font-weight: normal'>El periodo en que se encuentra la PAO es el que se muestra con un SI en la columna Activo</h5>
                </td>
            </tr>
            <td align="center" style='font-size: 12px'>Seleccione el Año a Gestionar
                <select id='selanio'>
                    <option value='{{ "now" | date("Y") }}' selected='selected'>{{ "now" | date("Y") }}</option>
                    <option value='{{ "now" | date("Y")+1 }}'>{{ "now" | date("Y")+1 }}</option>
                </select>
            </td>
            <tr>
                <td colspan="2" align="center">
                    <br></br>  
                {% include 'MinSalSidPlaPaoBundle:PeriodoPao:showPeriodoPao.html.twig' %}
                </td>
            </tr>        
        </table>    
    </form>
{% endblock %}