{% block body %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#editarPeriodoPao').button();
    $('#selanio').change(cargarAnio);
    var myGrid = $('#tabperiodopao');        
    myGrid.jqGrid({
      url: 'consultarPeriodoPaoJSON',
      datatype:'json',
      altRows:true,
      colNames:['Codigo','Nombre','Fecha Inicio','Fecha Fin','Activo'],
      colModel:[
        { name:'codigo', index: 'codigo', width:40,editable:false,editoptions:{size:15},align:'center'},
        { name:'nombre', index: 'nombre', width:150,editable:true,editoptions:{size:30},edittype:"select",
                        editoptions: {value:"0:Seleccione un Tipo de Periodo;{{ combotipoperiodos }}"}
        },//Fin del nombre
        { name:'fechini', index: 'fechini', width:150,editable:true,align:'center',
                formoptions:{label: "Fecha de Inicio",elmprefix:"(*)"},editrules:{required:true},
                editoptions: {size: 10, maxlengh: 10,
                            dataInit: function(element) {
                                $(element).datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio', 'Julio', 'Agosto', 'Septiembre','Octubre', 'Noviembre', 'Diciembre'],
                                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov', 'Dic']  
                                })
                            }
                          }
        },//Fin del fechini
        { name:'fechfin', index: 'fechfin', width:150,editable:true,align:'center',
                formoptions:{label: "Fecha de Finalizacion",elmprefix:"(*)"},editrules:{required:true},
                editoptions: {size: 10, maxlengh: 10,
                            dataInit: function(element) {
                                $(element).datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio', 'Julio', 'Agosto', 'Septiembre','Octubre', 'Noviembre', 'Diciembre'],
                                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov', 'Dic']  
                                 })
                            }
                }
        },//Fin del fechfin
        { name:'activo', index: 'activo',align:'center',width:40,editable:false}
      ],//Fin del colModel
      rowNum:10,
      rowList:[10,20,30],
      multiselect: false,
      pager: jQuery('#pager'),
      viewrecords: true,          
      caption: 'Periodo Oficial',
      height: "100%",
      editurl:'manttPeriodoPao'
  
                     
    });

    myGrid.jqGrid('navGrid','#pager',
        {edit:false,add:false,del:false}
    );//Fin del pager del grid
   
     
   
   $("#editarPeriodoPao").click(function(){
     var gr = jQuery('#tabperiodopao').jqGrid('getGridParam','selrow');
     if( gr != null )
       jQuery("#tabperiodopao").jqGrid('editGridRow',gr,{closeAfterEdit:true,editCaption: "Editando Cronograma PAO",
                 width:550,height:200,closeAfterEdit : true,align:'center',reloadAfterSubmit:true,
                 top : 250 ,left: 250,width: 600,processData: "Cargando...", 
                 onclickSubmit: function(rp_ge, postdata) {
                        alert("Periodo Pao Editado con exito!");
                }, 
                bottominfo:"Campos marcados con (*) son obligatorios"});
     else 
        alert("Por favor seleccione una fila para editar!"); 
        });
    
   //Funcion para cargar el Grid con diferente anio
   function cargarAnio(){
      $('#tabperiodopao').setGridParam({url:'consultarPeriodoPaoJSON?anio='+$('#selanio').val()}); 
      $('#tabperiodopao').trigger("reloadGrid"); 
   }
  });
    </script>
    <table id="tabperiodopao" class="scroll" alignalign="center"></table> 
    <div id="pager" class="scroll" style="text-align:center;"></div>
    <br></br>
    <input type="button" id="editarPeriodoPao" value="  Editar  " />
{% endblock %}