{# ingresar nueva  #}
{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">        
      $(document).ready(function(){
          
   
          
          $('#tabs').tabs(); 
          
          $.getJSON('consultarUnidadesOrgJSON', function(data) {
                  var i=0;
                  $.each(data, function(key, val) {
                      if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#unidadPadre').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                        });                    
                      }
                  });
          });
         
          
          $('#departamento').change(function(){   
              $('#municipio').children().remove();
             

              $.getJSON('consultarMunicipiosJSON?departamento='+$('#departamento').val(), function(data) {
                  var i=0;
                  $.each(data, function(key, val) {
                      if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#municipio').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                        });                    
                      }
                  });
              });              
          });
      });
      
</script>
      
<br></br>
<br></br>
<br></br>
<h2 class="demoHeaders">Ingreso de Unidades Organizativas</h2>
<div id="tabs">
        <ul>
                <li><a href="#tabs-1">General</a></li>
                <li><a href="#tabs-2">Dependencias</a></li>
                <li><a href="#tabs-3">Unidades de Salud</a></li>
        </ul>
        <div id="tabs-1" >
            <form action="{{ path('MinSalSidPlaAdminBundle_ingresarUnidadOrg')}}" method="post" >
                <table align="center" id="datosgeneralesTabla"  >
                    <tr>
                        <td colspan="4" align="center" >Datos Generales Nueva Unidad<br><br></td>
                    </tr>
                    <tr>
                        <td >Nombre unidad:</td>
                        <td colspan="3" ><input size="60%" name="nombreUnidad" id="nombreUnidad" ></input></td>
                    </tr>
                    <tr>
                        <td >Descripcion:</td>
                        <td colspan="3" ><textarea rows="4" cols="58" name="descripcion" size="60%" id="textoMensaje" ></textarea></td>
                    </tr>
                    <tr>
                        <td >Direcci&oacute;n:</td>
                        <td colspan="3" ><input name="direccion" size="60%" id="direccion" ></input></td>
                    </tr>
                    <tr>
                        <td >Responsable:</td>
                        <td colspan="3" ><input size="60%" name="responsable" id="responsable"  ></input><input type="button" value="..."></input></td>
                    </tr>  
                    <tr>
                        <td >Tel&eacute;fono:</td>
                        <td ><input id="telefono" name="telefono" ></input></td>
                        <td>Fax:</td> 
                        <td><input id="fax" name="fax" ></input></td>
                    </tr>
                    <tr>
                        <td  >Tipo Unidad:</td>
                        <td colspan="3">
                            <select id="tipoUnidad" name="tipoUnidad">
                                 <option value="1" >Dependencia</option>    
                                 <option value="2" >Unidad de Salud</option>    
                                 <option value="3" >Entidad de Control</option>    
                                 <option value="4" >Ministerio</option>    
                            </select>
                        </td>
                    </tr> 
                    <tr>
                        <td  >Unidad Padre:</td>
                        <td colspan="3"  >
                            <select id="unidadPadre" name="unidadPadre">
                                 <option value="0" >--Seleccione Unidad Padre--</option>    
                            </select></td>                            
                    </tr> 
                    <tr>
                        <td>Departamento:</td>
                        <td><select id="departamento" name="departamento">
                                <option value="0" >--Seleccione un Departamento--</option>    
                                {% for dpto in deptos %} 
                                        <option value="{{ dpto.idDepto}}" >{{ dpto.nombreDepto }}</option>                                        
                                {% endfor %}
                            </select></td>
                        <td>Municipio:</td>
                        <td><select id="municipio" name="municipio">
                                 <option value="0" >--Seleccione un Municipio--</option>    
                            </select></td>
                    </tr> 
                    <tr>
                        <td colspan="4" align="center" ><button type="submmit" id="guardar"  >Guardar</button>
                            <button type="reset"  >Limpiar</button>
                        </td>                        
                    </tr>                    
                </table>
            </form>            
        </div>
        <div id="tabs-2"></div>
        <div id="tabs-3"></div>
</div>


{% endblock %}