{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){
          
          $('#ingresar').click(function() {
              document.location.href='{{ path('MinSalSidPlaAdminBundle_ingresoNuevaUnidadesOrg') }}'
          });
      });
    </script>

<br></br>
    <br></br>         
    <br></br>    
    <form>
        <table align="center">
            <tr><td align="center">
                    <h1>Mantenimiento de Unidades del Sistema</h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" value="Ingresar Nuevas Unidades" id="ingresar" ></input>                    
                </td>
            </tr>
            <tr>
                <td align="center">
                <br></br>                
                {% include 'MinSalSidPlaAdminBundle:UnidadOrganizativa:showAllUnidadesOrganizativas.html.twig'%}
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>
    
    
{% endblock %}