{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#ingresar').button();
          $('#reporte').button();
          $('#ingresar').click(function() {
              this.form.action='{{ path('MinSalSidPlaAdminBundle_ingresoNuevaUnidadesOrg') }}'
          });
        
          $('#reporte').click(function() {
            this.form.action='{{ path('MinSalSidPlaReportesBundle_reporteInfoGeneral') }}'
         });
      });
    </script>
    
    <form action="" method="post">
        <table align="center">
            <tr><td align="center">
                    <h1>Mantenimiento de Unidades del Sistema</h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="submit" value="Ingresar Nuevas Unidades" id="ingresar" ></input>  
                    <input type="submit" value="Reporte" id="reporte"></input>
                </td>
            </tr>
            <tr>
                <td align="center">
                <br></br>                
                {% include 'MinSalSidPlaAdminBundle:UnidadOrganizativa:showAllUnidadesOrganizativas.html.twig'%}
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>
    
    
{% endblock %}