{% block body %}
<script type="text/javascript">
           $(document).ready(function(){
        $('#agregarElementoButton').button();
        $('#editarElementoButton').button();
        $('#eliminarElementoButton').button();
        $('#reporte').button();
        function validaUnidad(value, colname) {
        if (value == -1 ) 
            return [false,"Seleccione una Unidad de Medida"];
        else 
            return [true,""];
       }
      $('#tabElemInfra').jqGrid({ 
          url: 'consultarElementoInfraestructuraJSON',
          datatype:'json',
          altRows:true,
          colNames:['Codigo','Nombre del elemento','Unidad de medida','Descripcion'],
          colModel:[
            { name:'codigo', index: 'codigo', width:40,align:'center',editable:false,editoptions:{size:15}},
            { name:'nomelem', index: 'nomelem', width:150,editable:true,editoptions:{size:30,maxlength: 150}, 
                formoptions:{label: "Nombre del elemento",elmprefix:"(*)"},editrules:{required:true}},
            { name:'abreunidmed', index: 'abreunidmed', width:150,editable:true,editoptions:{size:30},edittype:"select",align:"center",
                        editoptions: {value:"{{comboUniMed}}"},editrules:{custom:true, custom_func:validaUnidad}
            },//Fin del nombre
            { name:'descripcion', index: 'descripcion',edittype:"textarea",width:500,
                editoptions:{rows:"5",cols:"40",maxlength: 250},editable:true,formoptions:{label: "Descripcion"}}
          ],
          rowNum:10,
          rowList:[10,20,30],
          multiselect: false,
          loadonce:true,
          pager: jQuery('#pager1'),
          viewrecords: true,          
          caption: 'Gestion Elementos de Infraestructura',
          height: "100%",
          addCaption: "Agregar Elemento Infraestructura",
          editCaption: "Editar Elemento Infraestructura",
          editurl:'manttElementoInfraestrutura'
                     
        });
        $('#tabElemInfra').jqGrid('navGrid','#pager1',
            {edit:false,add:false,del:false,view:true,
            beforeRefresh: function() {$('#tabElemInfra').jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');}}
        ).hideCol('codigo');    
   
   /* Funcion para regargar los JQGRID luego de agregar y editar*/
   function despuesAgregarEditar() {
      $('#tabElemInfra').jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');
      return[true,'']; //no error
   }
  //agregar
  $("#agregarElementoButton").click(function(){
   jQuery('#tabElemInfra').jqGrid('editGridRow',"new",
        {closeAfterAdd:true,addCaption: "Agregar Elemento Infraestructura",height:250,align:'center',reloadAfterSubmit:true,
         width: 600,processData: "Cargando...",afterSubmit:despuesAgregarEditar,bottominfo:"Campos marcados con (*) son obligatorios", 
         onclickSubmit: function(rp_ge, postdata) {
                alert("datos guardados con exito!");
         }});
 });
//editar
$("#editarElementoButton").click(function(){
  var gr = jQuery('#tabElemInfra').jqGrid('getGridParam','selrow');
  if( gr != null )
   jQuery("#tabElemInfra").jqGrid('editGridRow',gr,
        {closeAfterEdit:true,editCaption: "Editando Elemento Infraestructura",height:250,align:'center',reloadAfterSubmit:true,
         width: 600,processData: "Cargando...",bottominfo:"Campos marcados con (*) son obligatorios",afterSubmit:despuesAgregarEditar,
         onclickSubmit: function(rp_ge, postdata) {
            alert("Elemento de Infraestrutura editado con exito!");
          }});
  else 
      alert("Por favor seleccione una fila para editar!"); 
});

//eliminar
$("#eliminarElementoButton").click(function(){
   var grs = jQuery('#tabElemInfra').jqGrid('getGridParam','selrow');
   if( grs != null ) jQuery('#tabElemInfra').jqGrid('delGridRow',grs,
      {msg: "Desea Eliminar este Elemento Infraestructura?",caption:"Eliminando Elemento Infraestructura",
      height:100,align:'center',reloadAfterSubmit:true,width: 300,processData: "Cargando...",
      onclickSubmit: function(rp_ge, postdata) {
        alert("Elemento de Infraestrutura eliminado con exito!");
          }}); 
    else 
        alert("Por favor seleccione una fila para borrar!"); 
 }); 
 
 $('#reporte').click(function() {
    $('#formulario').get(0).setAttribute('action', '{{ path('MinSalSidPlaReportesBundle_reporteInfraEvaluada')}}');
    });
  //fin
});//Fin del JQuery
      
    </script>
   <table id="tabElemInfra" class="scroll"></table>
   <div id="pager1" class="scroll"></div>  
   </table> 
    <br></br>
       <input type="button" id="agregarElementoButton" value="  Agregar  " />
       <input type="button" id="editarElementoButton" value="   Editar   " />
       <input type="button" id="eliminarElementoButton" value="  Eliminar  " />
       <input type="submit" value="Reporte" id="reporte"/>

{% endblock %}