{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
 $(document).ready(function(){
   
      
});
    </script>
    <form action="{{ path('MinSalSidPlaGesObjEspEntControlBundle_consultarResultadosEsperados') }}" method="post">        
        <table align="center">
            <tr><td align="center"><h1>Objetivos Especificos</h1>
                </td>
            </tr>           
            <tr>
                <td align="center">
                    <br></br>                
                {% include 'MinSalSidPlaGesObjEspEntControlBundle:GestionObjetivosEspecificos:showObjEspecUnidadControl.html.twig' %} 
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>


{% endblock %}
