{# Muestra todos las opciones #}
{% block body %}
<script type="text/javascript">
  $(document).ready(function(){
          
    $('#agregarObjTempButton').button();
    $('#agregarObjTempButton').click(function() {
        $('#anio').attr('value', $('#selanio').val());
        this.form.action='{{ path('MinSalSidPlaGesObjEspEntControlBundle_ingresarObjEspTemplate') }}';
    });
        
    var myGrid = $('#theGridObj');        
    myGrid.jqGrid({    
      url: '{{path('MinSalSidPlaGesObjEspEntControlBundle_consultarObjetivosEspecificosEntControl')}}?objEntControl=true&anio={{ "now" | date("Y")+1  }}',
      datatype:'json',
      altRows:true,          
      colNames:['Id','Objetivo','IDBJTTEMPLATE','Acciones'],
      colModel:[ 
        { name:'id', index: 'id', width:15,editable:false,editoptions:{size:10},sorttype:'int',searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}   },
        { name:'objetivo', index: 'objetivo', width:580,editable:true,edittype:"textarea", editoptions:{rows:"5",cols:"50",maxlength: 300},formoptions:{ rowpos:1, label: "Objetivo Especifico", elmprefix:"(*)"},editrules:{required:true}  },
        { name:'idobjtmp', index: 'idobjtmp', width:15,editable:false,editoptions:{size:10},sorttype:'int',searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}   },
        {name:'act',index:'act', width:120,sortable:false}],
      rowNum:10,
      rowList:[10,20,30],
      multiselect: false,
      loadonce:true,
      sortname: 'id',
      sortorder: "asc",
      gridComplete: function(){
          var ids = jQuery("#theGridObj").jqGrid('getDataIDs');
          for(var i=0;i < ids.length;i++){ var cl = ids[i];              
              ce = "<input style='height:22px;width:120px;' type='submit' value='Resultados Esperados' onclick=\" $('#idfila').attr('value',$('#theGridObj').getCell("+cl+", 'id')); document.location.href='{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados')}}' \" />";
              jQuery("#theGridObj").jqGrid('setRowData',ids[i],{act:ce}); } 
      },
      pager: jQuery('#pagerObj'),
      viewrecords: true,          
      caption: 'Objetivos Especificos',
      height: "100%",
      editCaption: "Editar Registro",
      addCaption: "Nuevo Registro",         
      editurl:'manttObjEspTemplatedos'      
    });
    myGrid.jqGrid('navGrid','#pagerObj',{edit:false,add:false,del:false,search:false,view:false,refresh:false,
     beforeRefresh: function() {myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');}
    }
     //view
    ).hideCol('id').hideCol('idobjtmp');
       
         /* Funcion para regargar los JQGRID luego de agregar y editar*/
  function despuesAgregarEditar() {
    myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');
    return[true,'']; //no error
  }      
});
      
   //define handler for 'editSubmit' event
var fn_editSubmit=function(response,postdata){
 var json=response.responseText; //in my case response text form server is "{sc:true,msg:''}"
 var result=eval("("+json+")"); //create js object from server reponse
 return [result.sc,result.msg,null]; 
}  

    
   
    
    </script>
    <form action= "" method="post">
        <input type='hidden' name='idfilaobj' id="idfilaobj" value='' />
        <input type='hidden' name='anio' id="anio" value='' />
        <input type='hidden' name='idfila' id="idfila" value='' />
        
        <div id="grid_wrapper" class="ui-corner-all floatLeft">
            <table id="theGridObj" class="scroll" ></table> 
            <div id="pagerObj"  class="scroll"></div> 
        </div>

        <br></br>        
    </form>  

{% endblock %}
