{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#agregarEmpleado').button();
          $('#eliminarEmpleado').button();
          $('#editarEmpleado').button();
          $('#reporte').button();
          
          $('#reporte').click(function() {
            this.form.action='{{ path('MinSalSidPlaReportesBundle_reporteEmpleadosOrg') }}'
        });
      });
    </script>
      
    <form action="" method="post">
        <table align="center">
            <tr><td align="center">
                    <h1>Mantenimiento de Empleados</h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                     {% include 'MinSalSidPlaAdminBundle:Empleado:showAllEmpleados.html.twig'%}
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" value="Agregar" id="agregarEmpleado" />
                    <input type="button" value="Editar" id="editarEmpleado" />
                    <input type="button" value="Eliminar" id="eliminarEmpleado"/>
                    <input type="submit" value="Reporte" id="reporte"></input>
                </td>
            </tr>
        </table>        
    </form>
    <br></br>
    <br></br>
    
{% endblock %}
