{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
 $(document).ready(function(){
  $("#guardar").button();
  $('#cancelar').button();
  
  $("#guardar").click(function(){
       alert("datos de justificacion guardados con exito!");
  });
     
  $('#cancelar').click(function() {
       document.location.href='{{ path('MinSalSidPlaPaoBundle_homepage') }}'
  });
         
 });
    </script>

   <form action="{{ path('MinSalSidPlaPaoBundle_actualizarJustificacion')}}" method="post" >
                <table align="center" id="datosgeneralesTabla"  >
                    <tr>
                        <td colspan="4" align="center" ><h1>Justificación </h1></td>
                    </tr>
                    <tr>
                        <td colspan="4"> <p><h3>JUSTIFICACIÓN (Incluya un resumen del diagnóstico situacional actual del establecimiento de salud y 
                                su área geo-poblacional <br>en término de indicadores de salud, etc.
                                Debe incluir información relevante del entorno externo y del entorno interno.)</h3></p>
                        </td>
                    </tr>
                    <tr>
                        <td ></td>
                       
                        <td colspan="3" ><textarea rows="30" cols="100" name="justificacion"  size="60%" id="justificacion"> {{MensajeJustifi.getJustificacion_descripcion()}} </textarea></td>
                    </tr>
                   
                                         
                    <tr>
                        <td colspan="4" align="center" ><button type="submmit" id="guardar"  >Guardar</button>
                            <button type="submmit" id="cancelar"  >Cancelar</button>
                        </td>                        
                    </tr> 
                     <tr>
                        <td ></td>
                        <td colspan="3" ><input type="hidden" size="60%" name="id" id="id" value= "{{MensajeJustifi.getIdJustificacion()}}" ></input></td>
                    </tr>
                </table>
            </form>
    <br></br>
    <br></br>
{% endblock %}
