{% block body %}
<script type="text/javascript">
$(document).ready(function(){
   var seleccionado;       
   var myGrid = $('#tabEvaInfra');        
     myGrid.jqGrid({ 
     url: 'consultarResulPrograRRMedJSON',
     datatype:'json',
     altRows:true,
     colNames:['Codigo','Horario de Recurso Medico', 'Cantidad', 'Total Horas','Total Minutos','Total Consultas Diarias'], 
     colModel:[ 
        {name:'codigo',index:'codigo', width:50, editable: false,align:'center'},
        { name:'horarioRM', index: 'horarioRM', width:250,editable:true,editoptions:{size:30},edittype:"select",
               editoptions: {value:"{{comboResulRRmed}}"}},
        {name:'cantidad',index:'cantidad', width:90, editable: true,align:'center'},
        {name:'totalHoras',index:'totalHoras', width:90, editable: false,align:'center'},
        {name:'totalMin',index:'totalMin', width:90, editable: false,align:'center'},
        {name:'totalConsultas',index:'totalConsultas', width:90, editable: false,align:'center'}
     ],
     
     rowNum:10,
     rowList:[10,20,30],
     multiselect: false,
     pager: jQuery('#pager1'),
     loadonce:true,
     viewrecords: true,          
     caption: 'Asignar Recursos Medicos para Atencion de Salud ',
     height: "100%",
     onSelectRow: function(id){
          if(id && id!==seleccionado){
          jQuery('#tabEvaInfra').restoreRow(seleccionado);
          jQuery('#tabEvaInfra').editRow(id,true);
          seleccionado=id;}
     },
   // editurl:'manttResulPrograRRMed',
    gridComplete: 
      function(){ 
          var ids = jQuery("#tabEvaInfra").jqGrid('getDataIDs');
          for(var i=0;i < ids.length;i++){
             var cl = ids[i]; 
             guardar = "<input style='height:18px;width:50px;' type='button' value='Guardar' onclick=\"jQuery('#tabEvaInfra').saveRow('"+cl+"');"
                 +"$('#tabEvaInfra').jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');\" />";
             jQuery("#tabEvaInfra").jqGrid('setRowData',ids[i],{act:guardar});
         } 
       }          
    });
      
   myGrid.jqGrid('navGrid','#pager1',{edit:false,add:false,del:false,
      beforeRefresh: function() {myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');}}
   ).hideCol('codigo');
   
  
   
   function validaEstado(value, colname) {
     if (value == -1 ) 
          return [false,"Seleccione una estado de Infraestructura"];
     else 
          return [true,""];
   }
 
 });
 
    </script>
   <table id="tabEvaInfra" class="scroll" alignalign="center"></table> 
   <div id="pager1" class="scroll"></div>  
{% endblock %}