{% block body %}
<script type="text/javascript">
$(document).ready(function(){
   var seleccionado;       
   var myGrid = $('#tabPrograRHHH');        
     myGrid.jqGrid({ 
     url: 'consultarResulPrograRRMedJSON?turno={{turno}}',
     datatype:'json',
     altRows:true,
     colNames:['Codigo','Horario de Recurso Medico', 'Cantidad', 'Total Horas','Total Minutos','Total Consultas Diarias', 'Acciones'], 
     colModel:[ 
        {name:'codigo',index:'codigo', width:50, editable: false,align:'center'},
        { name:'horarioRM', index: 'horarioRM', width:250,editable:false,editoptions:{size:100}},
        {name:'cantidad',index:'cantidad', width:90, editable: true,align:'center',editrules:{number:true}},
        {name:'totalHoras',index:'totalHoras', width:90, editable: false,align:'center'},
        {name:'totalMin',index:'totalMin', width:90, editable: false,align:'center'},
        {name:'totalConsultas',index:'totalConsultas', width:120, editable: false,align:'center'},
        {name:'act',index:'act', width:100,sortable:false,align:'center'}           
     ],
     
     rowNum:10,
     rowList:[10,20,30],
     multiselect: false,
     pager: jQuery('#pager1'),
     loadonce:true,
     viewrecords: true,          
     caption: 'Asignar Recursos Medicos para Atencion de Salud ',
     height: "100%",
     onSelectRow: function(id){
          if(id && id!==seleccionado){
          jQuery('#tabPrograRHHH').restoreRow(seleccionado);
          jQuery('#tabPrograRHHH').editRow(id,true);
          seleccionado=id;}
     },
    editurl:'manttResulPrograRRMed',
    gridComplete: 
      function(){
               $.getJSON('obtenerProgramacionJSON?turno='+$('#selHorario').val(), 
            function(data) {
               $.each(data, function(key, val) {
                 if(key=='rows'){
                    $.each(val, function(id, registro){
                         $("#totmin").attr('value', registro['cell'][0]);
                         $("#tothor").attr('value', registro['cell'][1]);
                         $("#totcon").attr('value', registro['cell'][2]);

                        });                    
                      }
                  });
              });  
          var ids = jQuery("#tabPrograRHHH").jqGrid('getDataIDs');
          for(var i=0;i < ids.length;i++){
             var cl = ids[i]; 
             guardar = "<input style='height:18px;width:50px;' type='button' value='Guardar' onclick=\"jQuery('#tabPrograRHHH').saveRow('"+cl+"');"
                 +"$('#tabPrograRHHH').jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');\" />";
             jQuery("#tabPrograRHHH").jqGrid('setRowData',ids[i],{act:guardar});
         }
       }          
    });
      
   myGrid.jqGrid('navGrid','#pager1',{edit:false,add:false,del:false,
      beforeRefresh: function() {myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');}}
   ).hideCol('codigo');
   
  
   
   function validaEstado(value, colname) {
     if (value == -1 ) 
          return [false,"Seleccione una estado de Infraestructura"];
     else 
          return [true,""];
   }
 
 });
 
    </script>
   <table id="tabPrograRHHH" class="scroll" alignalign="center"></table> 
   <div id="pager1" class="scroll"></div>  
{% endblock %}