{% block body %}
<script type="text/javascript">        
      
    </script>
    <br></br>
    <form>
        <table>
            <tr>
                <td><label style="font-size: 12px">Total de Minutos por todo el Recurso Medico</label></td>
                <td><input type="text" readonly="readonly" size="6" maxlength="6" id='totmin' style=" text-align: center"/></td>
            </tr>
            <tr>
                <td><label style="font-size: 12px">Total de Horas por todo el Recurso Medico</label></td>
                <td> <input type="text" readonly="readonly" size="6" maxlength="6" id='tothor' style=" text-align: center"/></td>
            </tr>
            <tr>
                <td><label style="font-size: 12px">Total de Consultas Diarias por todo el Recurso Medico</label></td>
                <td> <input type="text" readonly="readonly" size="6" maxlength="6" id='totcon' style=" text-align: center"/></td>
            </tr>
        </table>

        
        
    </form>
{% endblock %}