{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block titulo %}Mantt Categoria Censo{% endblock %}

{% block body %} 
   <script type="text/javascript">
      $(document).ready(function(){
          
          $('#ingresar').click(function() {
              document.location.href='{{ path('MinSalSidPlaCensoBundle_ingresarCategoriaForm') }}'
          });
      });
    </script>
    <form>
        <table align="center">
            <tr><td align="center">
                    <h1>Mantenimiento de Categorias Censo Población</h1>
                </td>
            </tr>
            <tr><td colspan="2" align="center" >
                    {% if  mensaje is defined  %}
                           {{ mensaje}}
                    {% endif %}  
                            <br></br>
                </td>
            </tr>
            <tr>
                <td align="center">                     
                    <input type="button" value="Ingresar Nuevas Categorias" id="ingresar" ></input>                                    
                </td>
            </tr>
            <tr>
                <td align="center">
                <br></br>                
                  {% include 'MinSalSidPlaCensoBundle:CategoriaCenso:showAllCategoriaCenso.html.twig'%}
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>    
     
{% endblock %}