{# empty Twig template #}
{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
 <script type="text/javascript">
      $(document).ready(function(){
          $('#tabs').tabs(); 
          $('#tabs').css("height",500); 
          $.getJSON('consultarCategoriaCensoUsuarioJSON', function(data) {
                      var i=0;
                      $.each(data, function(key, val) {
                          if(key=='rows'){
                            $.each(val, function(id, registro){
                                $('#categoriaCenso').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                            });                    
                          }
                      });
          });
          
          $('#btnVerValorCategoria').click(function() {
                
                var idCategoria=$('#categoriaCenso').val();
                
                $.getJSON('consultarDatosCategoriaJSON?idCategoria='+idCategoria, function(data) {
                      var i=0;
                      
                      $('#limpiar').click();
                      $('#categoriaDescripcion').val(data.categoriaDescripcion);
                      
                      if(data.tabla=='sidpla_poblacionhumana'){   
                          $('#aingPob').click();
                          $.each(data.registros, function(id, registro) {
                              
                               if(registro['cell'][1]=='URBANA'){
                                   if(registro['cell'][2]=='H'){
                                         $('#idAreaUrbanaHombres').val(registro['cell'][0]);
                                         $('input[name=urbanaHombres]').val(registro['cell'][3]);                                         
                                   }else{
                                         $('#idAreaUrbanaMujeres').val(registro['cell'][0]);
                                         $('input[name=urbanaMujeres]').val(registro['cell'][3]);                                         
                                   } 
                               }
                               
                               
                               if(registro['cell'][1]=='RURAL'){
                                   
                                   if(registro['cell'][2]=='H'){
                                         $('#idAreaRuralHombres').val(registro['cell'][0]);                                       
                                         $('input[name=ruralHombres]').val(registro['cell'][3]);
                                   }else{
                                         $('#idAreaRuralMujeres').val(registro['cell'][0]);                                       
                                         $('input[name=ruralMujeres]').val(registro['cell'][3]);
                                   } 
                               }
                               
                                if(registro['cell'][1]=='PROMOTOR'){                                   
                                   
                                   
                                   if(registro['cell'][2]=='H'){
                                         $('#idAreaPromotorHombres').val(registro['cell'][0]);
                                         $('input[name=promotorMaculino]').val(registro['cell'][3]);                                         
                                   }else{
                                         $('#idAreaPromotorMujeres').val(registro['cell'][0]);
                                         $('input[name=promotorFemenino]').val(registro['cell'][3]);                                         
                                   } 
                               }
                              
                          });                              
                      }
                      
                     $("input[name^='urbana']").sum("keyup", "#totalUrbana");
                     $("input[name^='rural']").sum("keyup", "#totalRural");
                     $("input[name^='promotor']").sum("keyup", "#totalGlobal");                   
                     

                     $("input[name$='Hombres']").sum("keyup", "#sumaHombres");
                     $("input[name$='Mujeres']").sum("keyup", "#sumaMujeres");
                     
                     $("input[id^='suma']").sum("keyup","#totalGeneral");
                     
                      
                });
          });
          

});
      
      
     
 </script>
    
         
<br></br>
<br></br>
<br></br>
<h1 align="center" class="demoHeaders">CENSO GENERAL DEL AREA GEO-POBLACIONAL</h1>
 <table align="center" id="datosviviendaypoblacion"  >
                    <tr>
                        <td colspan="4" align="center" >CLASIFICACION DEL AREA GEO-POBLACIONAL<br></td>
                    </tr>

                    <tr>
                        <td colspan="3"  >
                            <select id="categoriaCenso" name="categoriaCenso">
                                 <option value="0" >--Seleccione una categoria del censo--</option>    
                            </select>
                        </td> 
                        <td><button id="btnVerValorCategoria" >...</button></td>
                    </tr>
 </table>

<div id="tabs">
        <ul>
                <li><a href="#tabs-1">Datos de vivienda y poblacion </a></li>
                <li><a href="#tabs-2">Otra informacion relevante</a></li>
                <li><a id="aingPob" href="#tabs-3">Ingresar Poblacion Humana</a></li>
        </ul>
        <div id="tabs-1" >
            <form action="" method="post" >
                <table align="center" id="datosviviendaypoblacion"  >
                     <tr>
                        <td colspan="4" align="center" >Total de viviendas</td>
                    </tr>
                    <td align="center">
                   {% include 'MinSalSidPlaCensoBundle:CensoUsuario:showAllViviendas.html.twig'%}
                   <br></br>
                    </td>  
                    <tr>
                        <td colspan="4" align="center" >Poblacion Humana</td>
                    </tr>
                    <td align="center">
                   {% include 'MinSalSidPlaCensoBundle:CensoUsuario:showAllPoblacionHumana.html.twig'%}
                   <br></br>
                    </td> 
               </table>
            </form>            
        </div>
      <div id="tabs-2">
      <form action="" method="post" >
                <table align="center" id="informacioncomplementaria"  >
                     
                        <td colspan="4" align="center" >Informacion complementaria</td>
                    </tr>
                    <td align="center">
                   {% include 'MinSalSidPlaCensoBundle:CensoUsuario:showAllInformacionComplementaria.html.twig'%}
                   <br></br>
                    </td> 
                    <tr>
                        <td colspan="4" align="center" >Informacion Relevante</td>
                    </tr>
                    <td align="center">
                   {% include 'MinSalSidPlaCensoBundle:CensoUsuario:showAllInformacionRelevante.html.twig'%}
                   <br></br>
                    </td>  
                    <tr>                    
               </table>
            </form> 
    </div>
    <div id="tabs-3">
         {% include 'MinSalSidPlaCensoBundle:PoblacionHumana:ingresarPoblacionHumana.html.twig'%}
    </div>
    
</div>
{% endblock %}

