{# empty Twig template #}

{% block body %}
<script type="text/javascript">
      $(document).ready(function(){
        
        var myGrid = $('#theGrid1');        
        myGrid.jqGrid({ 
          url: 'consultarInformacionComplementariaJSON',
     scrolling: true,
          datatype:'json',
          altRows:true,
          colNames:['Id','Area', 'Censo codigo','categoria codigo','cantidad'],
          colModel:[
            { name:'id', index: 'id',sorttype:'int', width:100,editable:false,editoptions:{size:15}, searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}  },
            { name:'Nombre', index: 'Nombre', width:100,editable:true,editoptions:{size:100},formoptions:{ rowpos:1, label: "Area", elmprefix:"(*)"},editrules:{required:true}  },
            { name:'Area', index: 'Area',width:100, sortable:false,editable:true,editoptions:{size:100},formoptions:{ rowpos:2, label: "Codigo Censo", elmprefix:"(*)"},editrules:{required:true} } ,            
            { name:'Censo', index: 'Censo',width:100, sortable:false,editable:true,editoptions:{size:100},formoptions:{ rowpos:3, label: "Codigo categoria", elmprefix:"(*)"},editrules:{required:true} } ,            
            { name:'Cantidad', index: 'Cantidad',width:100, sortable:false,editable:true,editoptions:{size:100},formoptions:{ rowpos:4, label: "Cantidad", elmprefix:"(*)"},editrules:{required:true} } ],            
            
          rowNum:10,
          rownumbers: true,
         rowTotal: 10,
          rowList:[10,20,30],
         // height: 55,
          rownumWidth: 40,
          multiselect: false,
          pager: jQuery('#pager1'),
          viewrecords: true,          
         //scroll:true,
          //loadonce:true, 
           sortname: 'id',
            sortorder: "asc",
            caption: 'Total de Viviendas',
            height: "100%",
            editCaption: "Editar Censo",
            addCaption: "Nuevo Censo",
            editurl: 'manttInformacionComplementariaEdicion'
        });
         myGrid.jqGrid('navGrid','#pager',
        {edit:false,add:false,del:false,view:true},
        {},//edit
        {},//add
        {},//del
        {}, //search
        {}//view
        );
        
       
      }
 
);
</script>


<table id="theGrid1" class="scroll"></table> 
<div id="pager1" class="scroll" style="text-align:center;"></div>

{% endblock %}
