{# empty Twig template #}

{% block body %}
<script type="text/javascript">
      $(document).ready(function(){
        
        var myGrid = $('#theGrid');        
        myGrid.jqGrid({ 
          url: 'consultarPoblacionHumanaJSON',
     scrolling: true,
          datatype:'json',
          altRows:true,
          colNames:['Categoria','Area','Sexo','Cantidad'],
          colModel:[
            { name:'categoria', index: 'categoria', width:100,editable:false,editoptions:{size:15}, searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}  },
            { name:'area', index: 'area', width:100,editable:true,editoptions:{size:100},formoptions:{ rowpos:1, label: "Codigo Censo", elmprefix:"(*)"},editrules:{required:true}},
            { name:'sexo', index: 'sexo',width:100, sortable:false,editable:true,editoptions:{size:100},formoptions:{ rowpos:2, label: "Codigo categoria", elmprefix:"(*)"},editrules:{required:true}},            
            { name:'cantidad', index: 'cantidad',width:100,summaryType:'sum', sortable:false,editable:true,editoptions:{size:100},formoptions:{ rowpos:3, label: "Clasificacion", elmprefix:"(*)"},editrules:{required:true}}            
           ],            
            
          rowNum:20,
          rownumbers: true,                                      
          multiselect: false,
          pager: jQuery('#pager5'),
          viewrecords: true,
          sortname: 'categoria', grouping:true, 
          loadonce:true,
          groupingView : { 
              groupField : ['categoria'], 
              groupColumnShow : [false],
              groupCollapse : true, 
              groupOrder: ['desc'],
              groupSummary : [true]
          },         
            sortorder: "asc",       
            caption: 'Poblacion Humana',
            height: "auto",
            editCaption: "Editar poblacion humana",
            addCaption: "Nuevo poblacion humana",
            editurl: 'manttPoblacionHumanaEdicion'
        });
         myGrid.jqGrid('navGrid','#pager',
        {edit:false,add:false,del:false,view:true},
        {},//edit
        {},//add
        {},//del
        {}, //search
        {}//view
        );
        
       
      }
 
);
</script>


<table id="theGrid" class="scroll"></table> 
<div id="pager5" class="scroll" style="text-align:center;"></div>

{% endblock %}
