{# empty Twig template #}

{# empty Twig template #}

{% block body %}
<script type="text/javascript">
      $(document).ready(function(){
        
        var myGrid = $('#theGrid3');        
        myGrid.jqGrid({ 
          url: 'consultarInformacionComplementariaJSON',
     scrolling: true,
          datatype:'json',
          altRows:true,
          colNames:['Categoria','Area', 'Cantidad'],
          colModel:[
            { name:'categoria', index: 'categoria',sorttype:'int', width:400,editable:false,editoptions:{size:15}, searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}  },            
            { name:'area', index: 'area',width:300, sortable:false,editable:true,editoptions:{size:100},formoptions:{ rowpos:2, label: "Codigo Censo", elmprefix:"(*)"},editrules:{required:true} } ,                        
            { name:'Cantidad', index: 'Cantidad',summaryType:'sum',width:300, sortable:false,editable:true,editoptions:{size:100},formoptions:{ rowpos:4, label: "Cantidad", elmprefix:"(*)"},editrules:{required:true} } ],            
           
          rowNum:10,
          rownumbers: true,         
          rowList:[10,20,30],
          multiselect: false,
          pager: jQuery('#pager3'),
          viewrecords: true,          
          sortname: 'categoria', grouping:true, 
          groupingView : { 
              groupField : ['categoria'], 
              groupColumnShow : [false], 
              groupCollapse : true, 
              groupOrder: ['desc'],
              groupSummary : [true]
          },
            caption: 'Informacion Complementaria',
            height: "auto",
            editCaption: "Editar Censo",
            addCaption: "Nuevo Censo",
            editurl: 'manttInformacionComplementariaEdicion'
        });
         myGrid.jqGrid('navGrid','#pager',
        {edit:false,add:false,del:false,view:true},
        {},//edit
        {},//add
        {},//del
        {}, //search
        {}//view
        );
        
       
      }
 
);
</script>


<table id="theGrid3" class="scroll"></table> 
<div id="pager3" class="scroll" style="text-align:center;"></div>

{% endblock %}
