{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script>
    $(document).ready(function(){
        
        $('#dialogJustificacion').jqm();
        
         $.getJSON('{{path('MinSalSidPlaGesObjEspBundle_consultarUnidadesDependenciasJSON')}}', function(data) {
                  var i=0;
                  $.each(data, function(key, val) {
                      if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#dependenciasCombo').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                        });                    
                      }
                  });
          });
          
            $.getJSON('{{path('MinSalSidPlaGesObjEspBundle_obtenerActividadesJSON')}}', function(data) {
                      var i=0;
                      
                      $.each(data, function(key, val) {
                          if(key=='rows'){
                            $.each(val, function(id, registro){
                                $('#actividadesCombo').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');                                
                            });                    
                          }
                      });
            });
            
            
          $('#dependenciasCombo').change(cargarAct);
          
          function cargarAct(){              
              $("#tabActividad").resetSelection(); 
              $("#tabActividad").setGridParam({url: '{{path('MinSalSidPlaGesObjEspBundle_obtenerActividadesJSON')}}?actividadesCombo='+$('#actividadesCombo').val()+'&dependencia='+$('#dependenciasCombo').val() }); 
              $('#tabActividad').jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');
              cargarActVin();             
          }        
         
          
          
          
          $('#actividadesCombo').change(cargarActVin);
          
          function cargarActVin(){
              $("#tabActividad").resetSelection(); 
              $.getJSON('{{path('MinSalSidPlaGesObjEspBundle_obtenerActividadesVincDependicentesJSON')}}?actividadesCombo='+$('#actividadesCombo').val(), function(data) {
                      var i=0;
                      $.each(data, function(key, val) {
                          if(key=='rows'){
                            $.each(val, function(id, registro){
                                jQuery("#tabActividad").jqGrid('setSelection', registro['cell'][2]);
                                
                            });                    
                          }
                      });

                })
            }
        
    });     
     
</script>
<br></br>
<br></br>
<form id="vincularForm">
    <input type="hidden" name="vinculacionDepen" value="true" id="vinculacionDepen" ></input>
<table align="center" >
    <tbody>
        <tr>
            <td align="center">
                <h1>Dependencia de Actividades de otras Dependencia</h1>
                <h3>Actividades de otras Dependencias que dependen de sus actividades</h3>
            </td>           
        </tr>
        <tr>
            <td align="center"><p>Actividades: </p>
                 <select  id="actividadesCombo" name="actividadesCombo">
                    <option value="0">Seleccione Actividad</option>
                 </select>
            </td>
        </tr>
        
        <tr>
            <td align="center"><p>Dependencias: </p>
                 <select  id="dependenciasCombo" name="dependenciasCombo">
                    <option value="0">Seleccione Actividad</option>
                 </select>
            </td>
        </tr>
        
        <tr>
            <td align="center">                
                {%include 'MinSalSidPlaGesObjEspBundle:GestionVincular:showActividadesPrograMon.html.twig' %}
            </td>
        </tr>        
    </tbody>

</table>      
</form>

{% endblock %}