{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    $('#guardarObj').button();
    $('#limpiarObj').button();
    $('#guardarObj').click(function(evento) {
         this.form.action='{{ path('MinSalSidPlaGesObjEspEntControlBundle_manttObjEspTemplate') }}';
    });
    
//  $("#forObjTmp").validate();   
    
});
</script>
<style type="text/css">
form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
input.error { border: 1px dotted red; }
textarea.error { border: 1px dotted red; }
 </style>  

<form id="forObjTmp" name="forObjTmp" method="post" >
    <table colspan="4"  align="center"><!-- id="datos"  -->
        <tr>
            <td colspan='2'>
                <h1>Ingrese el Objetivo Especifico para los SIBASI y Regiones de Salud</h1>
                <br></br>
            </td>
        </tr>
        <tr>
            <td style=" font-size: 12px" >Objetivo Especifico(*):</td>
            <td  ><textarea class="required" rows="4" cols="83" name= 'objEspTmp'  size="83%" id="objEspTmp" ></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submmit" id="guardarObj"  >Guardar</button>
                <button type="reset" id="limpiarObj"  >Limpiar</button>
            </td>
        </tr>

    </table>
<input type='hidden' name='anio' id="anio" value='{{anio}}' />
<input type='hidden' name='oper' id="oper" value='add' />

</form>

{% endblock %}