{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
  
    <form action="{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados') }}" method="post">
        <table align="center">
            <tr><td align="center"><h1>Gestion de Objetivos Especificos Para Entidades de Control</h1>
                </td>
            </tr>
           
            <tr>
                <td align="center">
                <br></br>                
                {% include 'MinSalSidPlaGesObjEspEntControlBundle:GestionObjetivosEspecificosTemplate:showAllObjetivosEspecificos.html.twig'  with {'idCaractOrg': idCaractOrg} %} 
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>
    
    
{% endblock %}
