{# Muestra todos las opciones #}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){

        var myGrid = $('#theGridObj');        
        myGrid.jqGrid({    
          url: 'consultarObjetivosEspecificosTemplateJSON',
          datatype:'json',
          altRows:true,          
          colNames:['Id','Objetivo','Eliminar','Actions'],
          colModel:[ 
            { name:'id', index: 'id', width:15,editable:false,editoptions:{size:10},sorttype:'int',searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}   },
            { name:'objetivo', index: 'objetivo', width:580,editable:true,editoptions:{size:40,maxlength: 300},formoptions:{ rowpos:1, label: "Objetivos Especificos", elmprefix:"(*)"},editrules:{required:true}  },
             {name: 'eliminar', width:80, fixed:true, sortable:false, resize:false, formatter:'actions', formatoptions:{keys:true,"editbutton":false}},
            {name:'act',index:'act', width:280,sortable:false}],
          rowNum:10,
          rowList:[10,20,30],
          multiselect: false,
          loadonce:true,
          sortname: 'id',
          sortorder: "asc",
          gridComplete: function(){
              var ids = jQuery("#theGridObj").jqGrid('getDataIDs');
              for(var i=0;i < ids.length;i++){ var cl = ids[i];
                  be = "<input style='height:22px;width:70px;' type='button' value='Editar' onclick=\"jQuery('#theGridObj').editRow('"+cl+"');\" />";
                  se = "<input style='height:22px;width:70px;' type='button' value='Eliminar' onclick=\"jQuery('#theGridObj').jqGrid('delGridRow','"+cl+"',{msg: 'Desea eliminar este objetivo especifico?'}); \" />"; 
                  ce = "<input style='height:22px;width:120px;' type='submit' value='Resultados Esperados' onclick=\" $('#idfila').attr('value', '"+cl+"'); document.location.href='{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados')}}' \" />";
                  jQuery("#theGridObj").jqGrid('setRowData',ids[i],{act:be+"   "+se+"   "+ce}); } 
          },
          pager: jQuery('#pagerObj'),
          viewrecords: true,          
          caption: 'Objetivos Especificos',
          height: "100%",
          editCaption: "Editar Registro",
          addCaption: "Nuevo Registro",
          editurl:'manttObjetivosEspecificosTemplate'         
            
        });
        myGrid.jqGrid('navGrid','#pagerObj',{edit:true,add:true,del:true,
         beforeRefresh: function() {myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');}
        },
        {width:450,height:200, afterSubmit: fn_editSubmit, closeOnEscape: true,bottominfo:"Campos marcados con (*) son obligatorios", onclickSubmit: function(rp_ge, postdata) {
        alert("datos editados con exito!");},closeAfterEdit:true,afterSubmit:despuesAgregarEditar },//edit
        {width:450,height:200,bottominfo:"Campos marcados con (*) son obligatorios", onclickSubmit: function(rp_ge, postdata) {
        alert("datos guardados con exito!");},closeAfterAdd:true,afterSubmit:despuesAgregarEditar },//add
        {width:550,height:160,onclickSubmit: function(rp_ge, postdata) {
        alert("Mensaje eliminado con exito!");
          } },//del
        {},//search
        {} //view
        ).hideCol('id');
       
             /* Funcion para regargar los JQGRID luego de agregar y editar*/
      function despuesAgregarEditar() {
        myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');
        return[true,'']; //no error
      }
       
      });
      
       //define handler for 'editSubmit' event
    var fn_editSubmit=function(response,postdata){
     var json=response.responseText; //in my case response text form server is "{sc:true,msg:''}"
     var result=eval("("+json+")"); //create js object from server reponse
     return [result.sc,result.msg,null]; 
    }  

    
   
    
    </script>
    <input type='hidden' name='idfila' id="idfila" value='' />  
    <div id="grid_wrapper" class="ui-corner-all floatLeft">
        <table id="theGridObj" class="scroll" ></table> 
        <div id="pagerObj"  class="scroll" style="text-align:center;"></div> 
      </div>
       
    
{% endblock %}
