{# Muestra todos las opciones #}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){
          
        $('#agregarObjTempButton').button();
        var myGrid = $('#theGridObj');        
        myGrid.jqGrid({    
          url: 'consultarObjetivosEspecificosTemplateJSON?anio={{ "now" | date("Y") }}',
          datatype:'json',
          altRows:true,          
          colNames:['Id','Objetivo','Eliminar','Acciones'],
          colModel:[ 
            { name:'id', index: 'id', width:15,editable:false,editoptions:{size:10},sorttype:'int',searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}   },
            { name:'objetivo', index: 'objetivo', width:580,editable:true,edittype:"textarea", editoptions:{rows:"5",cols:"50",maxlength: 300},formoptions:{ rowpos:1, label: "Objetivo Especifico", elmprefix:"(*)"},editrules:{required:true}  },
            { name: 'eliminar', width:80, fixed:true, sortable:false, resize:false, formatter:'actions', formatoptions:{keys:true,"editbutton":false}},
            {name:'act',index:'act', width:280,sortable:false}],
          rowNum:10,
          rowList:[10,20,30],
          multiselect: false,
          loadonce:true,
          sortname: 'id',
          sortorder: "asc",
          gridComplete: function(){
              var ids = jQuery("#theGridObj").jqGrid('getDataIDs');
              for(var i=0;i < ids.length;i++){ var cl = ids[i];
                  be = "<input style='height:22px;width:70px;' type='button' value='Editar' onclick=\"jQuery('#theGridObj').editRow('"+cl+"');\" />";
                  se = "<input style='height:22px;width:70px;' type='button' value='Eliminar' onclick=\"jQuery('#theGridObj').jqGrid('delGridRow','"+cl+"',{msg: 'Desea eliminar este objetivo especifico?'}); \" />"; 
                  ce = "<input style='height:22px;width:120px;' type='submit' value='Resultados Esperados' onclick=\" $('#idfila').attr('value', '"+cl+"'); document.location.href='{{ path('MinSalSidPlaGesObjEspEntControlBundle_consultarResultadosEsperadosTemplate')}}' \" />";
                  jQuery("#theGridObj").jqGrid('setRowData',ids[i],{act:be+"   "+se+"   "+ce}); } 
          },
          pager: jQuery('#pagerObj'),
          viewrecords: true,          
          caption: 'Objetivos Especificos',
          height: "100%",
          editCaption: "Editar Registro",
          addCaption: "Nuevo Registro"//,
         // editurl:'manttObjetivosEspecificosTemplate'         
            
        });
        myGrid.jqGrid('navGrid','#pagerObj',{edit:false,add:false,del:false,search:false,view:false,refresh:false,
         beforeRefresh: function() {myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');}
        }
         //view
        ).hideCol('id');
       
             /* Funcion para regargar los JQGRID luego de agregar y editar*/
      function despuesAgregarEditar() {
        myGrid.jqGrid('setGridParam',{datatype:'json',loadonce:true}).trigger('reloadGrid');
        return[true,'']; //no error
      }
      
      //agregar
     $("#agregarObjTempButton").click(function(){
        jQuery('#theGridObj').jqGrid('editGridRow',"new",
            {closeAfterAdd:true,addCaption: "Agregar Objetivo Especifico",width:550,height:200,align:'center',reloadAfterSubmit:true,
            processData: "Cargando...",bottominfo:"Campos marcados con (*) son obligatorios",afterSubmit:despuesAgregarEditar, 
            onclickSubmit: function(rp_ge, postdata) {
                alert("datos guardados con exito!");
            }});
     });
     
       
});
      
       //define handler for 'editSubmit' event
    var fn_editSubmit=function(response,postdata){
     var json=response.responseText; //in my case response text form server is "{sc:true,msg:''}"
     var result=eval("("+json+")"); //create js object from server reponse
     return [result.sc,result.msg,null]; 
    }  

    
   
    
    </script>
    <input type='hidden' name='idfila' id="idfila" value='' />  
    <div id="grid_wrapper" class="ui-corner-all floatLeft">
        <table id="theGridObj" class="scroll" ></table> 
        <div id="pagerObj"  class="scroll" style="text-align:center;"></div> 
    </div>
    <br></br>
    <input type="button" id="agregarObjTempButton" value="  Agregar  " />
       
    
{% endblock %}
